body {
    background-color: #f9f9f9;
}

#score {
    margin: 0;
    padding-top: 5px;
}

.choice {
    height: 200px;
    width: 200px;
    /* border: 2px solid black; */
    border-radius: 50%;
}

.choice:hover {
    transform: scale(1.1);
}

#rock {
    background-image: url("assets/rock.png");
    background-size: cover;
}

#paper {
    background-image: url("assets/paper.png");
    background-size: cover;
}

#scissor {
    background-image: url("assets/scissors.png");
    background-size: cover;
}